<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>

<div class="container">

<div class="page-header">
    <h1>Linux File Manager <small>Juan Esteban Cendales Sora - Juan Pablo Ortega Medina</small></h1>
</div>

<!-- File Manager - START -->

<div class="container pb-filemng-template">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default pb-filemng-navbar">
                <div class="container-fluid">
                    <!-- Navigation -->
                  

                    <ul class="collapse navbar-collapse nav navbar-nav navbar-right" id="options">
                        <li class="pb-filemng-active"><a href="#" id="new-folder" data-toggle = "tooltip" title = "Nueva carpeta"><span class="fa fa-folder-open fa-lg"></span></a></li>
                        <li class="pb-filemng-active"><a href="#" id="new-file" data-toggle = "tooltip" title = "Nuevo archivo"><span class="fa fa-file fa-lg"></span></a></li>
                    </ul>


                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="pb-filemng-navigation">
                        <ul class="nav navbar-nav">
                            <li><a href="#" id="go-back" data-toggle = "tooltip" title = "Volver atras"><span class="fa fa-chevron-left fa-lg"></span></a></li>
                        </ul>
                    </div>

                    <!-- /.navbar-collapse -->

                </div>
                <!-- /.container-fluid -->
            </nav>
            <div class="panel panel-default">
                <div class="panel-body pb-filemng-panel-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 pb-filemng-template-body div-general-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contextMenu" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
      <li><a tabindex="-1" id="copy" href="#">Copiar</a>
      </li>
      <li><a tabindex="-1" id="cut" href="#">Cortar</a>
      </li>
      <li><a tabindex="-1" class="paste" href="#">Pegar</a>
      </li>
      <li><a tabindex="-1" id="delete" href="#">Borrar</a>
      </li>
      <li><a tabindex="-1" id="rename" href="#">Cambiar nombre</a>
      </li>
      <li class="divider"></li>
      <li><a tabindex="-1" id="permissions" href="#">Permisos</a>
      </li>
    </ul>
  </div>

  <div id="contextMenuGeneral" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px;">
      <li><a tabindex="-1" class="paste" href="#">Pegar</a>
      </li>
    </ul>
  </div>

  <!-- Modal rename -->
  <div class="modal fade" id="renameModal" tabindex="-1" role="dialog" aria-labelledby="renameModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="renameModalLabel">Rename <strong><span id="name-rename"></span></strong></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form id="form-rename">
                <div class="form-group">
                  <label for="exampleInputEmail1">Nombre</label>
                  <input type="text" class="form-control" id="name-input" required="true" aria-describedby="nameHelp" placeholder="Ingrese un nombre">
                  <small id="nameHelp" class="form-text text-muted">Ingrese un nombre para <span id="help-rename"></span>.</small>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Element -->
  <div class="modal fade" id="newElementModal" tabindex="-1" role="dialog" aria-labelledby="newElementModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newElementModalLabel"><strong><span id="new-element"></span></strong></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form id="form-new-element">
                <div class="form-group">
                  <label for="exampleInputEmail1">Nombre</label>
                  <input type="hidden" id="type">
                  <input type="text" class="form-control" id="new-name-input" required="true" aria-describedby="nameHelp" placeholder="Ingrese un nombre">
                  <small id="nameHelp" class="form-text text-muted">Ingrese un nombre para <span id="help-new" ></span>.</small>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal permissions -->
  <div class="modal fade" id="permissionsModal" tabindex="-1" role="dialog" aria-labelledby="permissionsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="permissionsModalLabel">Permisos <strong><span id="name-permissions"></span></strong></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form id="form-permissions">
                <div class="form-group row">
                    <label for="propietario" class="col-sm-2 col-form-label">Propietario</label>
                    <div class="col-sm-10">
                        <strong><label class="col-sm-12 col-form-label" id="propietario">Jose Obdulio</label></strong>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12">
                        <select class="form-control" id="read-write-owner">
                            <option value="00">Ninguna</option>
                            <option value="01">Escribir solamente</option>
                            <option value="10">Leer solamente</option>
                            <option value="11">Leer y escribir</option>
                          </select>
                    </div>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="exec-input">
                    <label class="form-check-label" for="exec-input-owner">
                      Permisos de ejecusion
                    </label>
                  </div>
                  <hr>
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label">Grupo</label>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12">
                        <select class="form-control" id="read-write-group">
                            <option value="00">Ninguna</option>
                            <option value="01">Escribir solamente</option>
                            <option value="10">Leer solamente</option>
                            <option value="11">Leer y escribir</option>
                          </select>
                    </div>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="exec-input">
                    <label class="form-check-label" for="exec-input-group">
                      Permisos de ejecusion
                    </label>
                  </div>
                  <hr>
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label">Otros</label>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12">
                        <select class="form-control" id="read-write-others">
                            <option value="00">Ninguna</option>
                            <option value="01">Escribir solamente</option>
                            <option value="10">Leer solamente</option>
                            <option value="11">Leer y escribir</option>
                          </select>
                    </div>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="exec-input">
                    <label class="form-check-label" for="exec-input-others">
                      Permisos de ejecusion
                    </label>
                  </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
        </div>
      </div>
    </div>
  </div>
  
</div>

<link rel="stylesheet" type="text/css" href="static/css/style.css" />

<!-- you need to include the shieldui css and js assets in order for the charts to work -->
<link rel="stylesheet" type="text/css" href="static/css/all.min.css" />
<script type="text/javascript" src="static/js/shieldui-all.min.js"></script>
<script>
    var contenido = <%- JSON.stringify(contenido) %>;
</script>
<script type="text/javascript" src="static/js/script.js"></script>


<!-- File Manager - END -->



</div>

</body>
</html>